# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so

# Virtual environments
.venv/
venv/
env/

# Type checking
.mypy_cache/
.pyright/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Build artefacts
*.spec
Release/
Debug/
